.modal {
    width: 800px;
    height: 600px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    transition: 1s all;
}

.modal-animate {
    margin: 0!important;
}

.modal-animate-down {
    margin-top: -1500px;
}

.modal-animate-up {
    margin-bottom: -1500px;
}

.modal-animate-left {
    margin-left: -2500px;
}

.modal-animate-right {
    margin-right: -2500px;
}

.modal-animate-topleft {
    margin-left: -2500px;
    margin-top: -1500px;
}

.modal-animate-topright {
    margin-right: -2500px;
    margin-top: -1500px;
}

.modal-animate-bottomleft {
    margin-left: -2500px;
    margin-bottom: -1500px;
}

.modal-animate-bottomright {
    margin-right: -2500px;
    margin-bottom: -1500px;
}

.modal-overlay {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}